include README
include LICENSE
include MANIFEST.in

recursive-include blogsmith/static *.js *.css *.png *.eot *.svg *.ttf *.woff
recursive-include blogsmith/templates *.html

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
